@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --light: #eee;
    --dark:#0C2340;
    --darker: #008E97;
    --blue: #5F9EA0;
    --crimson: #008E97;
  }

  
  body {
    background-color: var(--darker);
  }
  
  .App {
    color: var(--light);
    text-align: center;
    
  }
  
  h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: black;
  }
  
  .ngos {
    display: grid;
    max-width: 1024px;
    margin: 2rem auto 0;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 1rem;
  }
  
  .ngo {
    background-color: var(--dark);
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: left;
  }
  
  button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color:black;
  
    
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: black;
  
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--blue);
  }
  
  .buttons {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: -0.5rem;
    color: black;
    background-color: var(--dark);
  }
  
  .buttons button {
    margin: 0 0.5rem;
    color:black;

  }
  
  button.remove {
    color: black;
    background-color: var(--crimson);
  }
  
  h4 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  
  ol, ul {
    list-style: none;
  }
  
  li {
    line-height: 1.4;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    text-align: left;
  }
  
  .popup-inner {
    background-color: var(--dark);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 480px;
    overflow: auto;
    max-height: calc(100vh - 4rem);
  }
  
  .popup h2 {
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
    text-decoration-color: black;
    color: black;
  }
  
  .form-group:last-of-type {
    margin-bottom: 0;
  }
  
  input, textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    resize: vertical;
    max-height: 200px;
    margin-bottom: 0.5rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group button {
    margin-top: 1rem;
  }



.align{
    margin-top: 0;
    align-items: right;
}
.align1{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 40px;
    margin-right: 20px;
}
.nine h1 {
    text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:400;
  }
.nine h1 span {
    margin-top: 5px;
      font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
      text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500; border-color: black;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
.nine h1 span:after,.nine h1 span:before {
      content: " ";
      display: block;
      border-bottom: 1px solid goldenrod;
      border-top: 1px solid goldenrod;
      height: 5px;
    background-color:goldenrod;
  }
 
.para{
    color:black;
    border: #444;
    font-family: 'Cambria';
    font-size: 25px;
    align-content: center;
}
  





